.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 5
}

.content {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 90%;
}

.content {
  width: 1000px;
  height: 700px;
  background-image: url('../../../../assets/wedding/images/page-welcome.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 330px;
    height: 500px;
    background-image: url('../../../../assets/wedding/images/page-welcome-mobile.png');
  }
}

.button {
  margin-top: 150px;
  background-color: #3f473f;
  width: 200px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    margin-top: 10px;
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    font-size: 14px;
    letter-spacing: 1.5px;
  }
}
