.wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 20px;
}

.title-block {
  font-weight: bold;
  font-size: 18px;
}

.title-tags {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.tags {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radio-field {
  display: flex;
  justify-content: space-evenly;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
}

.button {
  width: 150px;
  margin-bottom: 5px;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80px;
  border: 1px solid black;
}

.button-link {
  height: 20px;
  margin: 5px;
}

.tag {
  border: 1px solid black;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}

.jira {
  background-color: #7dd2fd;
}

.other {
  background-color: #f1ce7f;
}

.talks {
  background-color: #57ff95;
}

.edu {
  background-color: #c8aeff;
}
