<header *ngIf="activeUser$ | async">
  <div class="left-block">
    <button class="button" (click)="trackingPage()">Tracking</button>
    <button class="button" (click)="balloonPage()">Balloon</button>
    <button class="button" (click)="calendarPage()">Calendar</button>
  </div>
  <div class="right-block">
    <button class="button" (click)="adminPage()">Admin page</button>
    <button class="button" (click)="mainPage()">Main page</button>
    <button routerLink="" class="button" (click)="logout()">Logout</button>
  </div>
</header>
