@font-face {
  font-family: 'Lovelace';
  src: url('/assets/fonts/Lovelace-Text-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lovelace';
  src: url('/assets/fonts/Lovelace-Text-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
